#searchBox {
    display: block;
    margin: 0 auto;

    width: 400px;
}

#formError {
    display: block;
    margin: 0 auto;

    width: 400px;
    height: 24px;
}

#searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 100px;
}

.error {
    margin-bottom: 0px;
}

.center-element {
    display: block;
    margin: 0 auto;
}

.img-height {
    height: 160px;
}