<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-center">QuikBot</h1>
        </div>
        <div class="col-12">
            <h2 class="text-center">A high-speed autopurchasing bot for consumers</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-12">
            <p class="text-center">Enter a product here and we'll find it for you!</p>
        </div>
    </div>
    <div id="formError">

    </div>
    <form onsubmit="return false">
        <div class="row justify-content-center">
            <div class="col-12">
                <input type="text" id="searchBox" name="itemName">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 mt-4 text-center">
                <button type="button" id="searchBtn">Search</button>
            </div>
        </div>
    </form>
    {{#if searchResults}}
        <div class="row justify-content-around">
            <div class="col-12 col-sm-4">
                <div class="alert alert-success">
                    <p class="text-center">This is a success</p>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="alert alert-success">
                    <p class="text-center">This is a success</p>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="alert alert-danger">
                    <p class="text-center">This is a failure</p>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if noResults}}
        <div class="row justify-content-around mt-5">
            <div class="col-12 col-sm-8">
                <div class="alert alert-danger">
                    <p class="text-center">We were unable to find any results for {{itemName}}</p>
                </div>
            </div>
        </div>
    {{/if}}
</div>