@import './partials/override';
@import './partials/amazon';

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding-bottom: 6rem;
}

#searchBox {
    display: block;
    margin: 0 auto;

    width: 400px;
}

#formError {
    display: block;
    margin: 0 auto;

    width: 400px;
    height: 24px;
}

.results-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.error {
    margin-bottom: 0px;
}

.center-element {
    display: block;
    margin: 0 auto;
}

.prev, .next {
    height: 60px;
}


//-------------------------------
//----------  Footer  -----------
//-------------------------------

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size: 10px;
    text-align: center;
}