//-------------------------------
//----  Bootstrap overrides  ----
//-------------------------------

.carousel-control-prev{
    left: -104px;
}

.carousel-control-next{
    right: -104px;
}


//-------------------------------
//---- Amazon CSS overrides -----
//-------------------------------

.set-amazon-img-height {
    height: 160px;
}